* {
    font-family: 'Inter', sans-serif;
    margin:0;
    padding:0;
    border:0;
}

.background-layer {
    background-color: #F4BA26;
    text-align: center;
}

#settings-text{
    height: 50px;
}
#dount-p {
    position: relative;
    top: 20px;
    float: right;
}

#dount {   
    height: 50px;
}

.settings-body {
    background-color: #FAF9F6;
    height: 100%;
    margin-bottom: 100px;
    padding-top: 5px;
    border-top: 2px solid #FAF9F6;
    border-radius: 5px;
}

.settings-body div {
    display: flex;
    height: 60px;
    justify-content: space-between;
    font-size: 20px;
    color: black;
    font-weight: 700;
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    color: rgb(77, 76, 24);
    border-bottom: 2px solid #ffc83a;
    font-size: 20px;
}

.nav-bar {
    background-color: #F4BA26;
    height: 70px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 100px;
    
}

.nav-dashboard {
    width: 25%;
    display: inline;
    float: left;
    height: 70px;
    text-align: center;
    
}
.nav-search {
    width: 25%;
    display: inline;
    float: left;
    height: 70px;
    text-align: center;
    

}
.nav-add {
    width: 25%;
    display: inline;
    float: left;
    height: 70px;
    text-align: center;
    
}
.nav-settings {
    width: 25%;
    display: inline;
    float: left;
    height: 70px;
    text-align: center;
    
}

.nav-dashboard #nav-dashboard-img {
    display: inline-block;
    height: 36px;
    text-align: center;
    margin: 0;
    padding-top: 6px;
}
#nav-dashboard-text{
    display: block;
    height: 12px;
    text-align: center;
    margin: 0; 
    color: white;
    font-size: 12px;
}

.nav-dashboard img {
    display: inline-block;
    height: 36px;
}
.nav-search #nav-search-img {
    display: inline-block;
    height: 36px;
    text-align: center;
    margin: 0;
    padding-top: 6px;
}
#nav-search-text{
    display: block;
    height: 12px;
    text-align: center;
    margin: 0; 
    color: white;
    font-size: 12px;
}
.nav-search img {
    display: inline-block;
    height: 36px;
}
.nav-add #nav-add-img {
    display: inline-block;
    height: 36px;
    text-align: center;
    margin: 0;
    padding-top: 6px;
}
#nav-add-text{
    display: block;
    height: 12px;
    text-align: center;
    margin: 0; 
    color: white;
    font-size: 12px;
}
.nav-add img {
    display: inline-block;
    height: 36px;
}
.nav-settings #nav-settings-img {
    display: inline-block;
    height: 36px;
    text-align: center;
    margin: 0;
    padding-top: 6px;
}
#nav-settings-text{
    display: block;
    height: 12px;
    text-align: center;
    margin: 0; 
    color: white;
    font-size: 12px;
}
.nav-settings img {
    display: inline-block;
    height: 36px;
}